* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

header, footer, .lable {
    color: white;
}

i, .heart {
    font-size: 20px;
}

.footer-container, .header-container {
    padding: 20px 0px;
}

.row, .column-33, .header-content, ul, .column-50 {
    display: flex;
}

.lables, .heart {
    position: absolute;
}

/*header*/

header {
    background-color: rgb(255, 105, 0);
    box-shadow: 0 4px 2px -2px gray;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
} 

.container {
    width: 75%;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.column-33 {
    width: 32%;
}

.header-content {
    height: 100%;
    align-items: center;
    justify-content: center;
}


.header-content img {
    width: 30%;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

ul {
    list-style-type: none;
}

/*main*/

main {
    margin-top: 123px;
}

.margin-50 {
    margin: 50px 0px;
}

.card {
    width: 100%;
}

.card-img {
    position: relative;
}

.main-image, .secondary-image {
    width: 100%;
}

.card-img:hover .main-image {
    display: none;
}

.main-image, .card-img:hover .secondary-image {
    display: block;
}

.secondary-image {
    display: none;
}

.line-through {
    text-decoration: line-through;
}

.red-text, .heart:hover {
    color: red;
}

.lables {
    bottom: 50px;
}

.lable {
    padding: 5px 10px;
}

.heart {
    top: 10px;
    padding: 11px 15px;
    background-color: white;
    right: 0px;
    cursor: pointer;
}

.background-red {
    background-color: red;
}

.background-green {
    background-color: green;
}

/*footer*/

footer {
    background-color: rgb(27, 27, 27);
}

.column-50 {
    width: 50%;
    align-items: center;
}

.padding-left {
    padding-left: 10px;
}

.padding-right {
    padding-right: 15px;
}

.padding-top {
    padding-top: 10px;
}